<div style="text-align:center">
  <h1>
    Layer controls with custom tile loader
  </h1>
</div>

<ol-map olView
        [zoom]="map.zoom"
        [center]="map.center">
  <ol-layer *ngFor="let layer of layers"
            [layerType]="layer.type"
            [sourceOptions]="layer.sourceOptions"
            [opacity]="layer.opacity"
            [extent]="layer.extent"
            [visible]="layer.visible"
            [hidpi]="true"></ol-layer>
</ol-map>

<br/>

<div class="row" *ngFor="let layer of layers">
  <div class="card">
    <div class="-content">
      <h4>{{layer.title}}</h4>
      <label for="opacity">Opacity</label>
      <input class="_full-width" type="number" id="opacity" step="0.01" max="1" min="0" [(ngModel)]="layer.opacity">
      <label>
        <input type="checkbox" [(ngModel)]="layer.visible">
        <span> Visible</span>
      </label>
    </div>
  </div>
  <br/>
</div>

